import { get } from "@parameter1/base-cms-object-path";

$ const { newsletter, date } = data;
$ const { config } = out.global;

$ const newsletterConfig = config.get(newsletter.alias);
$ const logoConfig = get(newsletterConfig, "logoConfig");

<common-standard-layout
  data=data
  style-component="standard"
  style-component-input={ "accent-color": "#4392f1" }
  sections=["Feature", "Standard", "What's Trending"]
>
  <@header>
    <common-standard-header-block
      newsletter=newsletter
      date=date
      ...logoConfig
      image-wrapper-style={ "padding": "8px 10px 6px 10px" }
      image-attrs={ width: 248, height: 53 }
      image-style={ "max-width": "248px" }
      image-options={ w: 248 }
      image-src="/files/base/pmmi/all/image/newsletters/aw-food-bev-pharma-header.png"
      secondary-background-color="#4392f1"
    />
  </@header>
</common-standard-layout>
