$ const { newsletter, date } = data;

<common-standard-layout
  data=data
  style-component="standard"
  style-component-input={ "accent-color": "#4392f1" }
  sections=["Feature", "Standard", "What's Trending"]
>
  <@header>
    <common-standard-header-block
      newsletter=newsletter
      date=date
      logo-wrapper-style={ "padding": "16px 10px 6px 10px" }
      logo-attrs={ "width": 190 }
      logo-style={ "max-width": "190px" }
      logo-options={ w: 190 }
      logo-src="/files/base/pmmi/aw/aw_logo.png"
      image-wrapper-style={ "padding": "8px 10px 6px 10px" }
      image-attrs={ width: 248 }
      image-style={ "max-width": "248px" }
      image-options={ w: 248 }
      image-src="/files/base/pmmi/all/image/newsletters/aw-food-bev-pharma-header.png"
      secondary-background-color="#4392f1"
    />
  </@header>
</common-standard-layout>
