import { get } from "@parameter1/base-cms-object-path";

$ const { newsletter, date } = data;
$ const { config } = out.global;

$ const newsletterConfig = config.get(newsletter.alias);

<common-cpgnext-layout data=data />
