import { get } from "@mindful-web/object-path";

$ const { newsletter, date } = data;
$ const { config } = out.global;

$ const newsletterConfig = config.get(newsletter.alias);

<common-expo-mundo-layout
  data=data
  style-component="expo"
/>
