$ const { newsletter, date } = data;

<common-2024-mundo-layout
  data=data
>
  <@footer>
    <common-2024-footer-mundo-block date=date newsletter=newsletter />
  </@footer>
</common-2024-mundo-layout>
